html {
  font-family: cursive;
}

body {
  margin: 0;
  background-color: #ffffff;
  background-color: rgb(189, 233, 253);
  font-family: cursive;
}

header h1 {
  background-color: rgb(180, 231, 255);
  color: rgb(8, 140, 173);
  padding: 3rem 2rem;
  font-size: 3rem;
  text-align: center;
  border-radius: 0.5rem;
}

h2 {
  font-size: 2.5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 2rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(8, 140, 173);
}

h4 {
  font-size: 1.5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  font-size: 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 200px;
}

body p {
  transition: all 0.3s ease;
  background-color: #fff;
  margin: 1rem 0;
  padding: 1rem 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#viaje {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(10px 10px 10px rgb(190, 120, 255));
}

#ortiz {
  display: block;
  margin: auto;
  filter: drop-shadow(20px 20px 20px rgb(126, 164, 235));
}
#andre {
  display: block;
  margin: auto;
  filter: drop-shadow(20px 20px 20px rgb(22, 15, 116));
}

footer {
  background-color: rgb(189, 233, 253);
  padding: 3rem;
  color: white;
  border-radius: 0.5rem;
}

footer p {
  margin: 0;
  color: rgb(7, 169, 209);
}

footer a {
  transition: color 0.3s ease;
  color: rgb(7, 169, 209);
  text-decoration: none;
}

footer a:hover {
  color: cornflowerblue;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  width: 800px;
  margin: 0 auto;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #ffff;
  width: 800px;
  margin: 0 auto;
  border-radius: 0.3rem;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: rgb(24, 135, 163);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0.25rem 0;
  border: 1px solid #ccc;
  background-color: #fff;
  border-top: none;
  border-radius: 0.5rem;
  width: 800px;
  margin: 1rem auto;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
